@model IEnumerable<FinancialFileManager.Models.Template>

@{
    ViewBag.Title = "Template";
}

<div class="container">
    <div class="row" style="margin-top: 10px">
        <p>
            @Html.ActionLink("Inserir novo", "Create", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>

<table class="display" id="tabela">
    <thead>
        <tr>
            <th>
                Nome do Template
            </th>
            <th>
                Data da criação
            </th>
            <th>
                Usuário de criação
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Apelido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCriacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TemplateId }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.TemplateId }) |
                    @Html.ActionLink("Apagar", "Delete", new { id = item.TemplateId })
                </td>
            </tr>
        }
    </tbody>
</table>
