@model IEnumerable<FinancialFileManager.Models.Template>

@{
    ViewBag.Title = "Template";
}

<div class="container">
    <div class="row">
        <p>
            @Html.ActionLink("Inserir novo", "Create")
        </p>
    </div>

</div>

<table class="display" id="tabela">
    <thead>
        <tr>
            <th>
                Nome do Template
            </th>
            <th>
                Data da criação
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioCriacaoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Apelido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCriacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioCriacaoId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TemplateId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TemplateId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TemplateId })
                </td>
            </tr>
        }
    </tbody>
</table>
