@model FinancialFileManager.Models.Arquivo

@{
    ViewBag.Title = "Detalhes";
}

<div>
    <h4>Arquivo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data / Hora
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHora)
        </dd>

        <dt>
            Nome do arquivo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            Usuário de criação
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>
        <dt>
            Conteúdo
        </dt>
    </dl>
    
</div>
<textarea>@ViewBag.conteudo</textarea>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ArquivoId }) |*@
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
</p>
