@model IEnumerable<FinancialFileManager.Models.Arquivo>

@{
    ViewBag.Title = "Arquivos";
}

<p>
    @Html.ActionLink("Incluir novo", "Create")
</p>
<table class="display" id="tabela">
    <thead>
        <tr>
            <th>
                Data / Hora
            </th>
            <th>
                Nome do arquivo
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataHora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.ActionLink("Detalhes", "Details", new { id = item.ArquivoId }) |
                    @Html.ActionLink("Apagar", "Delete", new { id = item.ArquivoId })
                </td>
            </tr>
        }
    </tbody>
</table>
